node_modules
*.log
*.aes
cypress/downloads
cypress/screenshots
cypress/videos
cypress/logs
cypress/fixtures/profile.json
cypress/fixtures/users.json
.history
.vscode
env
.DS_Store
.env
dist
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
cypress/cucumber-json/
**/node_modules
**/*.log
**/*.aes
**/cypress/downloads
**/cypress/screenshots
**/cypress/videos
**/cypress/logs
**/cypress/fixtures/profile.json
**/cypress/fixtures/users.json
**/.history
**/.vscode
**/env
**/.DS_Store
**/.env
**/dist
**/package-lock.json
**/yarn.lock
**/npm-debug.log
**/yarn-error.log
**/cypress/cucumber-json/